* {
    border: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: black;
  }

  a{
      text-decoration: unset;
  }
.nav-tabs {
	border-bottom: 0;
}
.nav-tabs>a {
	display: inline-block;
	background-color: #fff;
	border: none;
	border-radius: 30px;
	font-size: 14px;
	color: #000;
	padding: 5px 30px;
}
.autor>a {
	background-color: #eaea ;
    color: #fff;
    opacity: .5;
}
.nav-tabs>a.active, 
.nav-tabs>a.active>:focus, 
.nav-tabs>a.active:hover,
.nav-tabs>a:hover {
	border: none;
	background-color: #008def;
	color: #fff;
}
  #quote-box {
    background-color: white;
    padding: 30px;
  }
  
  #quote-box button {
    color: white;
    height: 50px;
    width: 50px;
  }
  
  .rounded-border {
    border-radius: 10px;
  }
  